:root {
    --primary-color: #03306B;
    --secondary-color: #2F9AD8;
    --terciary-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

li, a, button {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
}

button {
    color: var(--terciary-color);
}

header {
    height: 20vh;
    padding: 1rem 5%;
    background-color: var(--terciary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    height: 20vh;
    display: inherit;
    align-items: inherit;
}

.logo {
    height: 100px;
    padding-right: 1rem;
    cursor: pointer;
}

.menu {
    height: inherit;
    list-style: none;
    display: inherit;
    align-items: inherit;
}

.menu li {
    height: inherit;
}

.menu li a {
    height: inherit;
    padding: 0 1rem;
    transition: all 0.1s ease 0s;
    display: flex;
    align-items: center;
}

.menu li:hover,
.menu li:hover > a {
    background-color: var(--primary-color);
    color: var(--terciary-color);
}

.dropdown {
    background-color: var(--primary-color);
    visibility: hidden;
    opacity: 0;
    list-style: none;
    position: absolute; /* Corrige la separación entre los elementos de la barra de navegación */
    display: none;
}

ul li:hover > .dropdown,
.dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.dropdown li {
    width: 12rem;
}

.dropdown li a {
    padding: 1.5rem;
    color: var(--terciary-color);
    font-size: 0.75rem;
}

.dropdown li a:hover {
    color: var(--secondary-color);
}

.hamburger-button {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.facebook-icon {
    width: 35px;
    height: 39px;
    /*margin-left: 2rem;*/
}

button {
    margin-left: 2rem;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.facebook-icon {
    fill: #395185;
    transition: all 0.3s ease 0s;
}

.facebook-icon:hover {
    fill: #1877F2;
}

.landing {
    height: 80vh;
    background-color: #BFC0C2;
}

@media screen and (max-width: 1017px) {
    .hamburger-button {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        visibility: visible;
        opacity: 1;
        display: block;
    }

    .menu {
        visibility: hidden;
        opacity: 0;
        display: none;
    }

    .menu.is-active {
        visibility: visible;
        opacity: 1;
        display: flex;
    }
}