* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    --primary-color: #03306B;
    --secondary-color: #2F9AD8;
    --terciary-color: #FFFFFF;
}

li, a, button {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
}

button {
    color: var(--terciary-color);
}

header {
    height: 20vh;
    padding: 1rem 5%;
    background-color: var(--terciary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    height: 20vh;
    display: inherit;
    align-items: inherit;
}

.logo {
    height: 100px;
    padding-right: 1rem;
    cursor: pointer;
}

.menu {
    height: inherit;
    display: inherit;
    align-items: inherit;
    list-style: none;
}

.menu li {
    height: inherit;
}

.menu li a {
    height: inherit;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    transition: all 0.1s ease 0s;
}

.menu li a:hover,
#submenu1:hover .menu li a { /* ¿Como mantengo el hover mientras nevego los submenus? */
    color: var(--terciary-color);
    background-color: var(--primary-color);
}

.dropdown-menu {
    background-color: var(--primary-color);
    list-style: none;
    display: none;
    position: absolute; /* Corrige la separación entre los elementos de la barra de navegación */
}

#activation1:hover #submenu1 {
    display: block;
}

#activation2:hover #submenu2 {
    display: block;
}

#activation3:hover #submenu3 {
    display: block;
}

#activation4:hover #submenu4 {
    display: block;
}

#activation5:hover #submenu5 {
    display: block;
}
/*
#submenu1 li:hover .menu li a {
    background-color: red;
}
*/

.dropdown-menu li a {
    padding: 1rem;
    color: var(--terciary-color);
    font-size: 0.75rem;
}

.dropdown-menu li a:hover {
    color: var(--secondary-color);
}

.cta {
    padding-left: 1rem;
}

button {
    padding: 9px 25px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--primary-color);
}

.landing {
    height: 80vh;
    background-color: #BFC0C2;
}

@media screen and (max-width: 1017px) {

    .menu {
        display: none;
    }

    .cta {
        display: none;
    }
}