* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    --primary-color: #03306B;
    --secondary-color: #2F9AD8;
    --terciary-color: #FFFFFF;
}

li, a, button {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
}

button {
    color: var(--terciary-color);
}

header {
    background-color: var(--terciary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}

.logo {
    cursor: pointer;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 0 1rem;
    display: inline-block;
}
.menu li a {
    transition: all 0.3s ease 0s;
}

.menu li a:hover {
    color: var(--secondary-color);
}

button {
    padding: 9px 25px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--primary-color);
}