:root {
    --primary-color: #03306B;
    --secondary-color: #2F9AD8;
    --tertiary-color: #FFFFFF;
}

          /*
            || General Styles 
            
          */

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Karla', sans-serif; */
    font-size: 16px;
    box-sizing: border-box;
}


hr {
    width: 50vw;
    margin: 4rem auto;
    border-top: 2px solid var(--secondary-color);
    border-radius: 5px;
}

h1 {
    font-size: 1.563rem;
    font-weight: 700;
    color: var(--secondary-color);
}

h2 {
    padding-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
}

header {
    width: 100%;
    height: 20vh;
    padding: 1rem 5%;
    background-color: var(--tertiary-color);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    height: 20vh;
    display: inherit;
    align-items: inherit;
}

button {
    margin-left: 2rem;
    background-color: white;
    border: 0;
    cursor: pointer;
}

li, a, button {
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;
}

section {
    height: 80vh;
    background-color: var(--tertiary-color);
}

footer {
    height: 10vh;
    background-color: #b02b38;
}

.logo {
    height: 100px;
    padding-right: 1rem;
    cursor: pointer;
}

.menu {
    height: inherit;
    list-style: none;
    display: inherit;
    align-items: inherit;
}

.dropdown {
    background-color: var(--primary-color);
    visibility: hidden;
    opacity: 0;
    list-style: none;
    position: absolute; /* Corrige la separación entre los elementos de la barra de navegación */
    display: none;
}

.hamburger-button {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.facebook-icon {
    width: 35px;
    height: 39px;
}

.facebook-icon {
    fill: #395185;
    transition: all 0.3s ease 0s;
}

.facebook-icon:hover {
    fill: #1877F2;
}

.container {
    width: 100%;
    padding: 1rem 5%;
}

.main-title {
    height: 25vh;
    padding-top: 25vh;
    padding-bottom: 5vh;
  
}

.main-title .container {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.menu li {
    height: inherit;
}

.menu li a {
    height: inherit;
    padding: 0 1rem;
    transition: all 0.1s ease 0s;
    display: flex;
    align-items: center;
}

.menu li:hover,
.menu li:hover > a {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
}

ul li:hover > .dropdown,
.dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.dropdown li {
    width: 12rem;
}

.dropdown li a {
    padding: 1.5rem;
    color: var(--tertiary-color);
    font-size: 0.8rem;
}

.dropdown li a:hover {
    color: var(--secondary-color);
}

          /*
            || Landing Styles 
            
          */

.landing {
    height: 100vh;
  }
  
.image-container {
    height: inherit;
    background-size: cover;
    background-position: center;
}
  
.landing .image-container {
    background-image: url(../img/landing.jpg);
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container p {
    color: var(--tertiary-color);
    font-size: 0.8rem;
    font-weight: 500;;
}

          /*
            || Instructors Styles
            
          */

.instructors {
    height: auto;
    margin-bottom: 2rem;
}

.instructors .container {
    margin: 4rem auto;
    display: flex;
}

.instructors .text-content {
    height: 70vh;
} 

.instructors .image-content {
    height: 70vh;
    display: inherit;
    justify-content: center;
} 

.instructors .image-content img {
    max-width: 100%;
    max-height: 100%;
}

.instructors .image-content {
    padding: 0 2rem 0 0;
}

.instructors .text-content {
    padding: 0 0 0 2rem; 
}
        
                  /*
        
                    || Schools Styles
                    
                  */

.schools {
    height: auto;
    margin-bottom: 2rem;
}

.schools .container {
    width: 65rem;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;   
}

.card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 300px;
    cursor: pointer;
}

.schools .card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    min-height: 130px;
  }

.schools .card-header img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

            /*
            || Taekwon-Do Page Styles
            
          */

.taekwondo {
    height: auto;
    margin-bottom: 2rem;
}

.taekwondo .container {
    margin: 4rem 0;
    display: flex;
}

.text-content {
    padding-right: 2rem;
    width: 50%;
} 

.image-content {
    padding-left: 2rem;
    width: 50%;
} 

.image-content img {
    max-width: 100%;
    max-height: 100%;
}

          /*
            || Responsive Design: Inactive
            
          */

  /*
@media screen and (max-width: 1017px) {
    .hamburger-button {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .menu {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    .menu.is-active {
        visibility: visible;
        opacity: 1;
        display: flex;
    }
}
*/